
@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Loc.Contract
@using Webdiyer.WebControls.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.List.cshtml";
}

@section PageSpecificStyleSheetIncludes{
    <!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="~/metronicassets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="~/metronicassets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/metronicassets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css"/>
<link rel="stylesheet" type="text/css" href="~/metronicassets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->

    <style type="text/css"> 
        
    </style>
}
@section PageSpecificJavascriptIncludes{
    <!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="~/metronicassets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="~/metronicassets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/metronicassets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="~/metronicassets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/metronicassets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>
    $(function () {
        /*
        *
        */
       
        /* 
         * 初始化表格参数 
         */
        
        var oTable = $('#sample_1').dataTable({
            "bProcessing": false, //DataTables载入数据时，是否显示‘进度’提示  
            "bServerSide": true, //是否启动服务器端数据导入  
            //"aLengthMenu" : [10, 20, 50], //更改显示记录数选项  
            "iDisplayLength": 10, //默认显示的记录数  
            "bPaginate": true, //是否显示（应用）分页器  
            "bInfo": true, //是否显示页脚信息，DataTables插件左下角显示记录数  
            "bSort": true, //是否启动各个字段的排序功能  
            "sDom": "t<'row-fluid'<'span6'i><'span6'p>>",//定义表格的显示方式  
            "aaSorting": [[0, "desc"]], //默认的排序方式，第0列，降序排列  
            "bFilter": true, //是否启动过滤、搜索功能  
            "aoColumns": [{
                "mData": "HostId", //列标识，和服务器返回数据中的属性名称对应  
                "sTitle": "",//列标题  
                "sDefaultContent": "", //此列默认值为""，以防数据中没有此值，DataTables加载数据的时候报错  
                "bVisible": false //此列不显示  
                //"sClass" : "hidden"//定义列的class参数，隐藏列也可以通过这种方式设置  
            }, {
                "mData": "HostName",
                "sTitle": "发送人",
                "sWidth": "10%",//定义列宽度，以百分比表示  
                "sDefaultContent": "",
            }, {
                "mData": "Description",
                "sTitle": "接收人",
                "sDefaultContent": "",
            }, {
                "mData": "WriteTime",
                "sTitle": "消息内容",
                "sDefaultContent": "",
                "bSortable": false   //此列不需要排序  
            }],
            "oLanguage": { //国际化配置  
                "sProcessing": "正在获取数据，请稍后...",
                "sLengthMenu": "显示 _MENU_ 条",
                "sZeroRecords": "没有您要搜索的内容",
                "sInfo": "从 _START_ 到  _END_ 条记录 总显示记录数为 _TOTAL_ 条",
                "sInfoEmpty": "记录数为0",
                "sInfoFiltered": "(共显示 _MAX_ 条数据)",
                "sInfoPostFix": "",
                "oPaginate": {
                    "sFirst": "第一页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "最后一页"
                }
            },
            /* 
            * 修改状态值  
            */
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData.response_type == 'video')
                    $('td:eq(1)', nRow).html('视频回复');


                return nRow;
            },
            /* 
             * 向服务器传递的参数 
             */
            "fnServerParams": function (aoData) {
                aoData.push(
                        { "name": "HostName", "value": $("#HostName").val() }
                        );
            },
            //请求url  
            "sAjaxSource": "/Loc/HostTag/ListJson",
            //服务器端，数据回调处理  
            "fnServerData": function (sSource, aDataSet, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "type": "post",
                    "url": sSource,
                    "data": aDataSet,
                    "success": function (resp) {
                        fnCallback(resp);
                    }
                });
            }
        });
        $("#searchBtn").on("click", function () {
            oTable.fnFilter();
        });
         
    })
</script>
}
<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">人员管理</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">所有人员</a>
					</li>
				</ul>
			</div>
						<div class="row">
                               
                                   <div class="col-md-12">
								<!-- BEGIN SAMPLE TABLE PORTLET-->
								<div class="portlet box green">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-filter"></i>查询内容
										</div>
										<div class="tools">
											<button class="btn btn-primary btn-sm btn-oval active" id="searchBtn">
												<i class="fa fa-search"></i>
											查询</button>
											<a href="javascript:;" class="collapse">
											</a>
										</div>
									</div>
									<div class="portlet-body">
										<form action="" class="form-horizontal" role="form">
											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label for="inputName" class="col-md-4 control-label">
															名称：
														</label>
														<div class="col-md-8">
                                                            <input  type="text" id="HostName"/>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														<label for="inputName" class="col-md-4 control-label">
															编号：
														</label>
														<div class="col-md-8">
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-2 control-label">标签：</label>		
														<div class="radio-list col-md-9">
															<label class="radio-inline">
															<input type="radio" name="tagBindingSelectedValue"  value="2" >不限 </label>
															<label class="radio-inline">
															<input type="radio" name="tagBindingSelectedValue" value="1" checked> 已领用 </label>
															<label class="radio-inline">
															<input type="radio" name="tagBindingSelectedValue"  value="0"> 未领用 </label>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-2 control-label">在线</label>		
														<div class="radio-list col-md-9">
															<label class="radio-inline">
															<input type="radio" name="tagOnlineSelectedValue"  value="2" > 不限</label>
															<label class="radio-inline">
															<input type="radio" name="tagOnlineSelectedValue"  value="1" checked> 在线 </label>
															<label class="radio-inline">
															<input type="radio" name="tagOnlineSelectedValue"  value="0"> 不在线 </label>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								<!-- END SAMPLE TABLE PORTLET-->
							</div>
			            </div>
			            <div class="row">
							<div class="col-md-12">
								<!-- BEGIN SAMPLE TABLE PORTLET-->
								<div class="portlet box green">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-cogs"></i>数据列表
										</div>
										<div class="actions">
										<a href=@Url.Action("Add","HostTag")  class="btn btn-default btn-sm">
										<i class="fa fa-plus"></i> Add </a>
										</div>
									</div>
									<div class="portlet-body">

										<table class="table table-striped table-bordered table-hover" id="sample_1">
											<thead>
												<tr>
													
													<th >名称</th>
													<th>编号</th>
													<th>绑定标签</th>
													<th>当前位置</th>
												</tr>
											</thead>
											<tbody>
                                               
												
											</tbody>

										</table>
                                    </div>
								</div>
								<!-- END SAMPLE TABLE PORTLET-->
							</div>
			            </div>
